* {
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    text-align: center;
    width: 500px;
}

main {
    display: flex;
}

main *{
    margin-right: 10px;
}


.input-answer {
    border : 10px solid #6C6CFE;
    border-radius: 30px;
    /* width : 300px; */
    height : 60px;
    font-size: 50px;
}

.check-answer {
    color : white;
    background-color: #6C6CFE;
    
    font-size : 50px;

    border : 0px;
    border-radius: 100px;
    padding : 10px 20px;
}

footer {
    /* wh */
    display: flex;
    flex-direction: column;
}

footer *{
    margin-top: 10px;
}